.item {
    margin-top: 0rem;
    margin-left: 2rem;
    border-width: 1rem;
    
  }
  
  
  .title {
    background-color: bisque;
    text-align: left;
    text-indent: 5em;
    padding: 1rem;
  }


  @media screen and (max-width: 768px) {
    .image {
      /* width: 5rem; */
      padding: 0;
    }
    .item {
      margin-left: 0;
    }
    .title {
      width: 100;
    }
  }
  
