.item {
    background-color:antiquewhite;
    border-width: 1rem;
    border-color: blue;
    border-color: black;
    height: fit-content;
    display: flex;
    flex-direction: row;
    
  }

.leftItem{
  background-color: black;
  padding-top: 2rem;
  margin-top: 2rem;
}

.rightItem{
  margin-top: 2rem;
}
@media screen and (max-width: 768px) {
  .item {
    flex-direction: column;
  }
}

  