.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:antiquewhite;

}

.user {
    margin: 1rem;
}

.content {
    color: #a32020;
    
}




.hl {
	border-style:solid;
	border-color: gray;
    border-left: 0;
    border-right: 0;
	height: 1px;
	min-width: 3rem;
	margin-bottom: 2rem;
}

.vl {
	border-style:solid;
	border-color: gray;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
	min-height: 5rem;
	width: 1px;
	margin-bottom: 2rem;
    align-self: end;
}


@media screen and (max-width: 768px) {
    .content{
        font-size: 10px;
    }

    .user {
        margin: 0;
    }
  }

  @media screen and (max-width: 468px) {

    .content{
        width: 60px;
        font-size: 5px;
        align-items: center;

    }
  }